
.vscode/

*.pyc
*pynb*

datasets/

tmp/

outputs/

samples/

eval/

checkpoints/

slurm_log/

eval/model/

build/

layouts_coco_emf/
layouts_vg_emf/

roi_layers.egg-info/

*.so

.ftpconfig

.ftpignore

*.json

*.h5

slurm*.sh
